:root{
    --gold:	#FFD700;
    
}
body{
    background-color:black;
}

.navbar {
    background-color:var(--gold);
  }

  .nav-link,
  .navbar-brand {
    color: black;
    cursor: pointer;
  }
  
  
  .nav-link:hover {
    color: white;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  #logo{
    color:black;
  }